<h1>Votre compte Coeur de Bouviers a été créé</h1>
<p>Voici vos identifiants</p>

<p><span style="font-weight: bold">email: </span>{{ user.email }}</p>
<p><span style="font-weight: bold">mot de passe: </span>{{ password }}</p>

<p><a href="https://coeurdebouviers.be/admin/login">Cliquez ici pour vous connecter</a></p>