<h1>Votre compte superadmin a été créé</h1>

<p><span style="font-weight: bold">identifiant: </span>{{ emailAddress }}</p>
<p><span style="font-weight: bold">mot de passe: </span>{{ password }}</p>

<p>
    Vous pouvez accéder a votre espace administrateur sur: <a style="font-style: italic" href="https://coeurdebouviers.be/admin/login">https://coeurdebouviers.be/admin/login</a>
</p>