<h1>Bonjour</h1>

<p>Votre demande de changement de mot de passe a bien été enregistrée</p>

<p><a href="https://coeurdebouviers.be/admin/password-change?email={{ user.email }}&token={{ token }}">Cliquez ici pour changer votre mot de passe</a></p>